{% extends "html/base.html" %}
{% load url from future %}
{% block title %}Chat Client{% endblock %}
{% block extra_head %}
<link href="/static/styles.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/tiny_mce_styles.css" />
<!-- Load the JS for the chat window and start retrieving messages. -->
<style type="text/css">
	/* Example styling for the chat window */
  body{
    
  }
   #chatwindow {
     height: 250px;
     border: 1px solid;
     border-right: none;
     padding: 10px;
     overflow: hidden;
     overflow-y: auto;
   }
  #memberswindow {
     height: 250px;
     border: 1px solid;
     padding: 10px;
     overflow: hidden;
     overflow-y: auto;
   }
 .clear{
     clear: both;
   }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <!--<h2>Room name: {{ room }}</h2>-->
  <div class="row">  
  <div class="col-sm-12">
    <div id="chatwindow" class="col-sm-4"><span id="loading">Loading...</span></div>
    <div id="memberswindow" class="col-sm-2"></div>
    <div class="clear"></div><br>
    <form id="chatform" class="col-sm-4">
      <div class="form-group">
    	<label for="msg">Message:</label>
    	<textarea type="text" id="msg" class="form-control"></textarea>
      </div>
  	<input type="submit" value="Send" class="btn btn-primary" /><br />
    </form>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/jqchat/jqchat.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    InitChatWindow("{% url 'jqchat_ajax' room.id %}", null);
  });
</script>
{% endblock %}