body{

}
#room-list-container{
	border: 1px solid;
 	border-right: none;
 	height: 402px;
}
#room-list{
	margin-left: -15px;
	margin-right: -15px;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}
#chat-window-container {
	height: 490px;
	border: 1px solid;
	background-color: white;
}
#chatwindow{
	padding: 10px 0px;
	height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}
#form-container{
	display: block;
	padding: 0px;
	border-top: 1px solid;
	margin-left: -15px;
	margin-right: -15px;
}
#msg{
	resize:none;
	overflow: hidden;
	overflow-y: auto;
}
#memberswindow {
	height: 402px;
	border: 1px solid;
	border-left: none;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}
.clear{
	clear: both;
}