<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Demo for Django-jqchat</title>
   <!-- End of treemenus -->
<link href="/static/styles.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/tiny_mce_styles.css" />





      <script src="/static/jquery.js"></script>
      <!-- JS common to all projects; load jQuery and a JS exception handler. -->
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript">
   $(document).ready(function(){
      // This code is run when the page is loaded.
      ExceptionHandler();
   });
</script><!-- End of common JS -->
      {% block extra_head %}{% endblock %}
   </head>
   <body>
    {% block content %}{% endblock %}
   </body>
</html>