{% extends "html/base.html" %}
{% load url from future %}

{% block title %}Chat Client{% endblock %}

{% block extra_head %}
<link href="/static/styles.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/tiny_mce_styles.css" />
<link rel="stylesheet" type="text/css" href="/static/message_window.css">
<!-- Load the JS for the chat window and start retrieving messages. -->
<script type="text/javascript" src="/static/jqchat/jqchat_group.js"></script>

{% endblock %}

{% block content %}
<h1>{{user.username}}</h1>
<div id="room-list-container">
	{% if rooms %}
		<ul id="room-list">
		{% for room in rooms %}
			<li>
				<a href="javascript:void(0);" data-id="{{room.room.id}}" data-group="{{room.is_group}}" data-partners="{{room.partners}}">Group {{room.room.id}}</a>
				{%if room.users%}
					<code>[</code>				
					{%for user in room.users%}
					<span>{{user.username}}</span>
					{%endfor%}
					<code>]</code>
				{%endif%}
			</li>
		{% endfor %}
		</ul>
	{% endif %}
</div>
<div id="chat-window-container">
	<div id="chatwindow"><span id="loading"></span></div>
	<div id="form-container">
		<form id="chatform">
			<label for="msg">Message:</label>
			<input type="text" id="msg" />
			<input type="submit" value="Send message" /><br />
		</form>
	</div>
</div>
<div id="memberswindow"></div>
<div class="clear"></div>

<script type="text/javascript">
	csrf_token = '{{csrf_token}}';
	$('#room-list li a').click(function(){
		$('#chatwindow').empty();
		var room_id = $(this).attr('data-id');
		var partners = $(this).attr('data-partners');
		var object = {};
		var url = '/chat/room/'+room_id+'/ajax/';
		object['url'] = 'chat/room/'+room_id+'/ajax/';
		object['IntervalID'] = 0;
		object['room'] = room_id;
		object['partners'] = partners;
		room_join(object);
		InitChatWindow(url, null, object);
	});
</script>
</div>
{% endblock %}
