{% extends "html/base.html" %}
{% load url from future %}

{% block title %}Chat Client{% endblock %}

{% block extra_head %}
<link href="/static/styles.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/tiny_mce_styles.css" />
<link rel="stylesheet" type="text/css" href="/static/message_window.css">
<!-- Load the JS for the chat window and start retrieving messages. -->
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div id="room-list-container" class="col-sm-4">
				{% if rooms %}
					<ul id="room-list" class="list-group">
					{% for room in rooms %}
						<a class="list-group-item" href="javascript:void(0);" data-id="{{room.room.id}}" data-group="{{room.is_group}}" data-partners="{{room.partners}}">						
							{%if room.users%}			
							<h4 class="list-group-item-heading">
							{%for user in room.users%}
								{{user.username}}{% if not forloop.last %},{% endif %}
							{%endfor%}
							</h4>
							{%endif%}						
    							<p class="list-group-item-text"></p>
						</a>
						
					{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div id="chat-window-container" class="col-sm-5">
				<div id="chatwindow"><span id="loading"></span></div>
				<div id="form-container">
					<form id="chatform">
						<div class="form-group">
							<div class="col-sm-10">
								<textarea type="text" id="msg" class="form-control"/></textarea>
							</div>
							<div class="col-sm-2">
								<button type="submit" class="btn btn-primary">Send</button>		
							</div>
						</div>						
					</form>
				</div>
			</div>
			<div id="memberswindow" class="col-sm-3"></div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/jqchat/jqchat_group.js"></script>
<script type="text/javascript">
	csrf_token = '{{csrf_token}}';
	$('#room-list a').click(function(){
		$('#chatwindow').empty();
		var room_id = $(this).attr('data-id');
		var partners = $(this).attr('data-partners');
		var object = {};
		var push_flag = true;
		var url = '/chat/room/'+room_id+'/ajax/';
		object['url'] = '/chat/room/'+room_id+'/ajax/';
		object['IntervalID'] = 0;
		object['room'] = room_id;
		object['partners'] = partners;
		object['timestamp'] = 0;
		for (var i = 0; i < GLOBALS.length; i++) {
			if(GLOBALS[i].room == object.room){
				push_flag = false;
				break;
			}
		}
		if (push_flag) {
			GLOBALS.push(object);
		};
		room_join(object);
		InitChatWindow(url, null, object);
	});
</script>
</div>
{% endblock %}
